<div class="container-fluid">

  <div *ngIf="this.spinners.loadingPage" class="loading-page text-center">
    <div class="spinner-border text-primary mb-4" role="status"></div>
    <h5>Loading . . .</h5>
  </div>

  <div *ngIf="!this.spinners.loadingPage" class="row no-gutter">

    <!-- Sidebar -->
    <div class="sidebar d-flex col-md-4 justify-content-center px-4">
      <img class="logo" src="assets/imgs/logo-light.svg" alt="logo">

      <div class="sidebar-text text-white d-flex flex-column align-items-center">
        <h4 class="text-center px-4">{{'sidebar.header' | translate}}</h4>

        <!-- Features Horizontal -->
        <div *ngIf="featuresHorizontal" class="features features-horizontal d-flex justify-content-center mt-4">
          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mr-3 mb-3 shadow">
            <fa-icon [icon]="faTh" class="fa-lg mb-2"></fa-icon>
            <span>{{'sidebar.features.f1' | translate}}</span>
          </div>

          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mr-3 mb-3 shadow">
            <fa-icon [icon]="faThumbtack" class="fa-lg mb-2"></fa-icon>
            <span>{{'sidebar.features.f2' | translate}}</span>
          </div>

          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mb-3 shadow">
            <fa-icon [icon]="faFileExport" class="fa-lg mb-2"></fa-icon>
            <span>{{'sidebar.features.f3' | translate}}</span>
          </div>
        </div>

        <!-- Features Vertical -->
        <div *ngIf="!featuresHorizontal" class="features features-vertical mt-4 px-3 w-100">
          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faTh" class="fa-lg mr-3"></fa-icon>
            <span>{{'sidebar.features.f1' | translate}}</span>
          </div>

          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faThumbtack" class="fa-lg mr-3"></fa-icon>
            <span>{{'sidebar.features.f2' | translate}}</span>
          </div>

          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faFileExport" class="fa-lg mr-3"></fa-icon>
            <span>{{'sidebar.features.f3' | translate}}</span>
          </div>
        </div>
      </div>

      <!-- Scrolldown -->
      <a *ngIf="showScrollDown()" class="scrolldown bounce d-flex flex-column align-items-center" href="#mainContent">
        <fa-icon [icon]="faChevronDown" class=""></fa-icon>
      </a>

      <!-- Widgets -->
      <div class="widgets d-flex">
        <a class="icon-wrapper github mr-2" id="widget-github"
           href="https://github.com/joanasesinando/gerador-horarios-ist"
           data-toggle="tooltip" data-placement="top">
          <fa-icon [icon]="faGithub" class="fa-md"></fa-icon>
        </a>

        <a class="icon-wrapper feedback mr-2"
           href="https://forms.gle/CaHC8TB6xjpahXWe9" target="_blank"
           data-toggle="tooltip" data-placement="top" title="Feedback">
          <fa-icon [icon]="faCommentAlt" class="fa-md"></fa-icon>
        </a>

        <a class="icon-wrapper help" id="widget-help"
           href="" data-toggle="tooltip" data-toggle="modal" data-target="#helpModal" data-placement="top">
          <fa-icon [icon]="faQuestion" class="fa-md"></fa-icon>
        </a>
      </div>
    </div>

    <!-- Main Content -->
    <div id="mainContent" class="main-content col-md-8">

      <div class="content d-flex mt-5 mt-sm-0">

        <div class="container">

          <div class="links d-flex align-items-center">
            <!-- About -->
            <a class="btn btn-outline-primary btn-about mr-2"
               data-toggle="modal" data-target="#aboutModal">{{'main-content.about' | translate}}</a>

            <!-- Language -->
            <div class="btn-lang">
              <fa-icon [icon]="faGlobeEurope" class="fa-lg dropdown-toggle" type="button" data-toggle="dropdown"></fa-icon>
              <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" (click)="changeLanguage('pt-PT')">
                  <img class="mr-2" src="assets/imgs/pt.svg" alt="portuguese">
                  PT
                </a>

                <a class="dropdown-item d-flex align-items-center" (click)="changeLanguage('en-GB')">
                  <img class="mr-2" src="assets/imgs/en.svg" alt="english">
                  EN
                </a>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-10 col-lg-9 mx-auto">

              <!-- Pick courses -->
              <h3 class="pick-courses-heading mb-4">{{'main-content.headers.pick-courses' | translate}}</h3>

              <div class="selects mb-5">
                <div class="d-lg-flex align-items-center justify-content-between mb-3">

                  <!-- Academic Term -->
                  <div class="position-relative col-12 col-lg-4 mb-4 mb-lg-2 px-0 pr-lg-3">
                    <div class="form-group mb-0">
                      <label for="inputAcademicTerm" class="d-block">{{'main-content.labels.term' | translate}}</label>
                      <select id="inputAcademicTerm" class="selectpicker show-tick form-control" autofocus [(ngModel)]="selectedAcademicTerm"
                              title="{{'main-content.labels.placeholder' | translate}} {{('main-content.labels.term' | translate).toLowerCase()}}..."
                              data-style="custom-select"
                              [disabled]="academicTerms.length === 0 || !databaseChecked" (change)="loadDegrees(selectedAcademicTerm)">
                        <option *ngFor="let term of academicTerms" [value]="term">{{term}}</option>
                      </select>
                    </div>
                    <div *ngIf="spinners.academicTerm" class="spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                  <!-- Degree -->
                  <div class="position-relative col-12 col-lg-8 mb-4 mb-lg-2 px-0 pl-lg-3">
                    <div class="form-group mb-0">
                      <label for="inputDegree" class="d-block">{{'main-content.labels.degree' | translate}}</label>
                      <select id="inputDegree" class="selectpicker show-tick form-control" [(ngModel)]="selectedDegree"
                              title="{{'main-content.labels.placeholder' | translate}} {{('main-content.labels.degree' | translate).toLowerCase()}}..."
                              data-style="custom-select" data-size="10"
                              data-live-search="true" data-live-search-placeholder="Search..."
                              [disabled]="this.degrees.length === 0" (change)="loadCoursesBasicInfo(selectedAcademicTerm, selectedDegree)">
                        <option *ngFor="let degree of degrees" value="{{degree.id}}"
                                [attr.data-tokens]="removePortugueseCharacters(degree.name)">{{degree.acronym}} - {{degree.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="spinners.degree" class="spinner-degree spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>

                <!-- Course -->
                <div class="position-relative col-12 px-0">
                  <label for="inputCourse" class="d-block">{{'main-content.labels.course' | translate}}</label>
                  <div class="input-group w-100">
                    <select id="inputCourse" class="selectpicker show-tick form-control" [(ngModel)]="selectedCourse"
                            title="{{'main-content.labels.placeholder' | translate}} {{('main-content.labels.course' | translate).toLowerCase()}}..."
                            data-style="custom-select" data-size="10"
                            data-live-search="true" data-live-search-placeholder="Search..."
                            [disabled]="this.courses.length === 0" (change)="noShiftsFound = false">
                      <optgroup label="{{'main-content.labels.first-semester' | translate}}">
                        <option *ngFor="let course of getCoursesBySemester(1)" value="{{course.id}}"
                                [attr.data-tokens]="removePortugueseCharacters(course.name)">[{{course.formatAcronym()}}] {{course.name}}</option>
                      </optgroup>
                      <optgroup label="{{'main-content.labels.second-semester' | translate}}">
                        <option *ngFor="let course of getCoursesBySemester(2)" value="{{course.id}}"
                                [attr.data-tokens]="removePortugueseCharacters(course.name)">[{{course.formatAcronym()}}] {{course.name}}</option>
                      </optgroup>
                      <optgroup label="{{'main-content.labels.not-found' | translate}}">
                        <option *ngFor="let course of getCoursesBySemester(0)" value="{{course.id}}"
                                [attr.data-tokens]="removePortugueseCharacters(course.name)">[{{course.formatAcronym()}}] {{course.name}}</option>
                      </optgroup>
                    </select>
                    <div class="input-group-append">
                      <button id="addBtn" class="btn btn-primary" type="button"
                              [disabled]="!selectedCourse"
                              (click)="addCourse(selectedCourse)">{{'main-content.add-btn' | translate}}</button>
                    </div>
                  </div>

                  <div *ngIf="spinners.course" class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p *ngIf="selectedAcademicTerm && selectedDegree && courses.length === 0 && !spinners.course"
                     class="text-danger"><small>{{'main-content.no-more-courses' | translate}}</small></p>
                  <p *ngIf="noShiftsFound"
                     class="text-danger"><small>{{'errors.no-shifts-found' | translate}}</small></p>
                </div>
              </div>

              <!-- Selected courses -->
              <h3 class="pick-courses-heading mb-4">{{'main-content.headers.selected-courses' | translate}}
                <span *ngIf="this.selectedCourses.length > 0" class="ml-2 mt-1">{{this.selectedCourses.length}}</span></h3>
              <p *ngIf="this.selectedCourses.length > 0" class="text-muted">Total ECTS: {{this.totalCredits}}</p>
              <p *ngIf="selectedCourses.length === 0"><em>{{'main-content.no-course-selected' | translate}}</em></p>
              <app-course-banner
                [courses]="selectedCourses"
                (campusSelected)="pickCourseCampus($event)"
                (typesOfClassesSelected)="pickTypesOfClasses($event)"
                (removeBtn)="removeCourse($event)"></app-course-banner>

              <!-- Generate btn -->
              <button *ngIf="selectedCourses.length !== 0"
                      class="btn btn-lg btn-primary btn-block btn-generate mt-5"
                      type="button" (click)="generateSchedules()">{{'main-content.generate-btn' | translate}}</button>

            </div>
          </div>

        </div>
      </div>

    </div> <!-- /.main-content -->

  </div> <!-- /.row -->

</div> <!-- /.container-fluid -->

<app-about-modal></app-about-modal>
<app-help-modal></app-help-modal>
