@import "src/styles/colors";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.content,
.sidebar {
  min-height: 100vh;
}

.sidebar {
  background-image: url('../../assets/imgs/bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    height: 4rem;
    z-index: 5;
  }

  .sidebar-text {
    position: relative;
    top: 10rem;
    height: fit-content;
    z-index: 5;

    .features {
      .item {
        background-color: white;
        border-radius: .3rem;
      }

      &.features-horizontal {
        .item { width: 8rem; }
      }

      fa-icon { color: $gh-darkBlue; }
    }
  }

  .scrolldown {
    position: absolute;
    bottom: 10vh;
    color: white;
    z-index: 5;

    fa-icon {
      font-size: 2.3rem;
    }
  }

  .widgets {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;

    .icon-wrapper {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      z-index: 5;
      transition: transform .15s ease-in-out;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      fa-icon {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.github { background-color: $gh-darkGray; }
      &.feedback { background-color: $gh-blue; }
      &.help {
        background-color: white;
        fa-icon { color: $gh-darkBlue; }
      }
    }
  }
}

.main-content {
  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow-y: auto;
  }

  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include media-breakpoint-down(md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.spinner-border {
  position: absolute;
  top: 61%;
  left: -1.5rem;
}

.links {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  .btn-lang {
    fa-icon { color: $gh-darkGray; }
    .dropdown-toggle::after { content: none; }

    .dropdown-menu {
      min-width: unset;
      img { width: 1rem; }

      .dropdown-item {
        padding: .25rem 1rem;
        &:hover { cursor: pointer; }
      }
    }
  }

  .btn-about {
    background: transparent;
    border: none;
    z-index: 5;

    &:hover, &:focus {
      color: darken($gh-blue, 10);
      text-decoration: underline;
      box-shadow: none;
      @include media-breakpoint-down(sm) { color: white; }
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      color: darken($gh-blue, 10);
      background: transparent;
      border: none;
    }
  }
}

.btn-generate {
  letter-spacing: 1px;
}
