<div class="timetable d-flex justify-content-center align-items-center">
  <button type="button" class="btn btn-dark" (click)="prev()"> < </button>
  <div class="schedule">

    <!-- Timeline -->
    <div class="timeline">
      <ul>
        <li *ngFor="let time of getTimelineHours(8, 20)">
          <span>{{time}}</span>
        </li>
      </ul>
    </div>

    <!-- Events -->
    <div class="events">

      <ul class="wrap">

        <!-- Monday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.monday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('monday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>

        <!-- Tuesday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.tuesday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('tuesday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>

        <!-- Wednesday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.wednesday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('wednesday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>

        <!-- Thursday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.thursday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('thursday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>

        <!-- Friday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.friday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('friday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>

        <!-- Saturday -->
        <li class="events-group">
          <div class="top-info"><span>{{'week-days.saturday' | translate}}</span></div>
          <ul>
            <li *ngFor="let ev of eventsPerWeekday.get('saturday')" class="single-event event-{{ev.tag}}"
                [attr.data-start]="ev.start" [attr.data-end]="ev.end">
              <div class="single-event-div" (click)="pin()">
                <span class="event-date">{{ev.start}} - {{ev.end}}</span>
                <em class="event-name">{{ev.name}}</em>
                <span class="event-date">{{ev.place}}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div> <!-- .schedule -->
  <button type="button" class="btn btn-dark" (click)="next()"> > </button>
</div>
