@import "src/styles/colors";
@import "src/styles/shadows";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* reset css */
/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.timetable {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, main {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}



/* style css */
/* --------------------------------

Primary style

-------------------------------- */

.timetable {
  touch-action: pan-y !important; // allow scrolling bc of hammerjs
  position: relative;

  .schedule-ID {
    font-size: .8rem;
    position: absolute;
    top: -1.5rem;
    right: 0;
  }
}

.single-event-div {
  font-size: .8rem;
  color: white;
  text-decoration: none;
}

fa-icon {
  position: absolute;
  font-size: 3.5rem;
  @include media-breakpoint-down(md) { font-size: 2rem; }
  color: $gh-darkGray;

  &.prev {
    left: -40px;
    @include media-breakpoint-down(md) { left: -20px; }
    @include media-breakpoint-down(sm) { left: -10px; }
  }
  &.next {
    right: -40px;
    @include media-breakpoint-down(md) { right: -20px; }
    @include media-breakpoint-down(sm) { right: -10px; }
  }

  &:hover {
    cursor: pointer;
    color: lighten($gh-darkGray, 10%);
  }
}

.btn-options {
  position: absolute;
  top: .2rem;
  right: .7rem;

  fa-icon { font-size: initial; color: $gh-gray; }
  .dropdown-toggle::after { content: none; }

  .dropdown-menu {
    min-width: unset;

    .dropdown-item {
      padding: .25rem 1rem;
      &:hover { cursor: pointer; }
    }
  }
}


/* --------------------------------

Main Components

-------------------------------- */
$top-info-height-desktop: 30px;
$top-info-height-mobile: 30px;

$cell-height-desktop: 27px; // NOTE: change on .ts SLOT_HEIGHT_DESKTOP
$cell-height-mobile: 25px; // NOTE: change on .ts SLOT_HEIGHT_MOBILE

$grid-height-desktop: 24 * $cell-height-desktop;
$grid-height-mobile: 24 * $cell-height-mobile;

$timeline-width: 60px; // NOTE: change more
$columns: 5;

/* ----------------------
   schedule
   ---------------------- */
.schedule {
  position: relative;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 850px;
    max-width: 1200px;
  }
}

/* ----------------------
   timeline
   ---------------------- */
.schedule .timeline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: $top-info-height-desktop;
  @include media-breakpoint-down(md){ padding-top: $top-info-height-mobile; }

  li {
    position: relative;
    height: $cell-height-desktop;
    @include media-breakpoint-down(md) { height: $cell-height-mobile; }

    &::after {
      // this is used to create the table horizontal lines
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #EAEAEA;
    }

    //&:nth-of-type(2n)::after {
    //  height: 3px;
    //  @media only screen and (max-width: 450px) { height: 2px; }
    //}

    &:last-of-type {
      height: 0;
    }

    &:last-of-type::after {
      display: none;
    }

    span {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      &::after {
        // NOTE: $timeline-width -> 60px
        width: calc(100% - 60px);
        left: $timeline-width;
      }

      span {
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &:nth-of-type(2n) span {
        // count from hour to hour
        display: none;
      }
    }
  }
}

/* ----------------------
   events
   ---------------------- */
.schedule .events {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    // NOTE: $timeline-width -> 60px
    width: calc(100% - 60px);
    margin-left: $timeline-width;
  }

  .events-group {
    width: 100% / $columns;
    float: left;
    border: 1px solid #EAEAEA;
    margin-bottom: 0;

    > ul {
      position: relative;
      display: block;
      height: $grid-height-desktop;
      @include media-breakpoint-down(md) { height: $grid-height-mobile; }
      overflow: visible;
      padding: 0;

      &::after {
        /* never visible - used to add a right padding to .events-group > ul */
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        opacity: 0;
        color: transparent;
        clear: both;

      }

      &::after {
        display: none;
      }
    }

    &:not(:first-of-type) {
      border-left-width: 0;
    }
  }

  .top-info {
    width: 100%;
    /* vertically center its content */
    display: table;
    height: $top-info-height-desktop;
    @include media-breakpoint-down(md) { height: $top-info-height-mobile; }
    border-bottom: 1px solid #EAEAEA;
    padding: 0;

    > span {
      /* vertically center inside its parent */
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        font-size: .9rem;
      }
    }
  }

  .single-event {
    position: absolute;
    float: left;
    -webkit-transition: all .2s;
    transition: all .2s;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    /* reset style */
    max-width: none;
    margin-right: 0;

    &:last-of-type {
      margin-right: 0;
    }

    .single-event-div {
      position: relative;
      display: block;
      height: 100%;
      padding: .7em;
      @include media-breakpoint-down(sm) {
        padding: .5em;
      }
    }

    .pin, .options-icon {
      display: none;
      position: absolute;
      top: .3rem;
      right: .3rem;
      font-size: .8rem;
      color: white;
    }

    .options {
      display: none;
      list-style-type: none;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      z-index: 30;

      li {
        background: white;
        padding: .8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
        box-shadow: 0 6px 24px -2px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all .2s;
        position: absolute;
        right: 0;
        z-index: 1;

        fa-icon {
          font-size: .8rem;
        }
      }

      &.open {
        display: block;

        li {
          bottom: 0;

          &:nth-child(1) { transform: translateX(0); }
          &:nth-child(2) { transform: translateX(-2rem); }

          &:hover {
            fa-icon { color: $gh-blue; }
          }
        }
      }
    }

    &:hover, &:focus {
      cursor: pointer;
      box-shadow: $selected-shadow;
      &:not(.pinned) .options:not(.open) + .options-icon { display: block; }
    }
  }
}

/* ---------------------------------------
   event-name & event-date & event-place
   --------------------------------------- */
.schedule .event-date,
.schedule .event-name,
.schedule .event-place {
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.schedule .event-date,
.schedule .event-place {
  opacity: .7;
}

.schedule .event-date {
  display: block;
  font-size: .6rem;
  @media only screen and (max-width: 550px) { font-size: .5rem; }
  line-height: 1.2;
  margin-bottom: .2em;
}

.schedule .event-name {
  display: inline-block;
  font-size: .7rem;
  @media only screen and (max-width: 550px) { font-size: .6rem; }
}

.schedule .event-place {
  display: block;
  font-size: .7rem;
  @media only screen and (max-width: 550px) { font-size: .6rem; }
  margin-top: .2em;

  &.event-place-small {
    position: absolute;
    bottom: .7em;
    right: .7em;
    @media only screen and (max-width: 550px) {
      bottom: .5em;
      right: .5em;
    }
  }
}


/* --------------------------
   event colors
   -------------------------- */
.schedule .single-event.event-1 {
  background: #577F92;
  &:hover { background: #618da1; }
}

.schedule .single-event.event-2 {
  background: #443453;
  &:hover { background: #513e63; }
}

.schedule .single-event.event-3 {
  background: #A2B9B2;
  &:hover { background: #b1c4be; }
}

.schedule .single-event.event-4 {
  background: #f6b067;
  &:hover { background: #f7bd7f; }
}

.schedule .single-event.event-5 {
  background: #a26885;
  &:hover { background: #bf7c9d; }
}

.schedule .single-event.event-6 {
  background: $gh-darkBlue;
  &:hover { background: lighten($gh-darkBlue, 5%); }
}

.schedule .single-event.event-7 {
  background: #967da0;
  &:hover { background: #ad91b9; }
}

.schedule .single-event.event-8 {
  background: #61816e;
  &:hover { background: #6d917c; }
}

/* --------------------------
   pinned event
   -------------------------- */
.schedule .events .single-event.pinned {
  border: 2px solid rgba(235, 87, 87, 0.8);
  box-shadow: $pinned-shadow;

  .pin {
    display: block;
    top: .2rem;
    right: .2rem;
    font-size: .7rem;
    color: #EB5757;
  }
}
