/* ===================================================================
 *
 *   TOC:
 *    1. Basic styles
 *    2. Buttons
 *    3. Checkboxes
 *    4. Dropdowns
 *    5. Selects
 *    6. Alerts
 *    7. Scrollbar
 *    8. Loading page
 *
 * =================================================================== */

@import "fonts.css";
@import "colors";
@import "shadows";
@import "animations";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";



/* ===================================================================
 *  1. Basic styles
 *
 * ------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins-regular', sans-serif;
}

h3, .h3 { font-family: 'poppins-semiBold', sans-serif; }
h5, .h5 { font-family: 'poppins-medium', sans-serif; }

.text-primary { color: $gh-blue !important; }
a { color: $gh-blue; }

.text-warning { color: $gh-yellow !important; }



/* ===================================================================
 *  2. Buttons
 *
 * ------------------------------------------------------------------- */

.btn-primary {
  background-color: $gh-blue;
  border-color: $gh-blue;

  &:hover, &:focus {
    background-color: darken($gh-blue, 10);
    border-color: darken($gh-blue, 10);
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $gh-blue;
  border-color: $gh-blue;
}

.btn-outline-primary {
  color: $gh-blue;
  &:hover, &:focus { color: $gh-blue; }
}

.btn-lg {
  letter-spacing: 1px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: $gh-blue;
}



/* ===================================================================
 *  3. Checkboxes
 *
 * ------------------------------------------------------------------- */

.custom-control-input:checked~.custom-control-label::before {
  background-color: $gh-blue;
  border-color: $gh-blue;
}



/* ===================================================================
 *  4. Dropdowns
 *
 * ------------------------------------------------------------------- */

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #e6e8e9;
}



/* ===================================================================
 *  5. Selects
 *
 * ------------------------------------------------------------------- */

.bootstrap-select {

  .dropdown-toggle {
    &::after {
      content: none;
    }

    &:focus {
      outline: none !important;
    }

    &.bs-placeholder,
    &.bs-placeholder:active,
    &.bs-placeholder:focus,
    &.bs-placeholder:hover {
      color: #495057;
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $gh-blue;
  }

  .dropdown-menu {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 120%;

      ul {
        overflow-x: hidden;
      }
    }
  }
}

.bootstrap-select #inputCourse ~ .dropdown-menu {
  max-width: calc(100% + 102.46px);
}

.custom-select.disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.bootstrap-select>select.bs-select-hidden, select.bs-select-hidden, select.selectpicker {
  display: block !important;
}



/* ===================================================================
 *  6. Alerts
 *
 * ------------------------------------------------------------------- */
.alerts {
  position: fixed;
  top: .5rem;
  right: .5rem;
  height: auto;
  width: 25rem;
  z-index: 1060;

  @include media-breakpoint-down(xs) {
    right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.alert {
  border-width: 1px;
  border-radius: .25rem;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0 .5rem 1rem 0 rgba(44, 51, 73, 0.1);
  margin-bottom: .5rem;
}
@media (max-width: 575.98px) {
  .alert { width: 95%; }
}

.alert-icon-container {
  background-color: white;
  border-radius: 0.25rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.25rem;
}

.alert-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: white;
  margin-bottom: 0;
}

.alert-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: white;
  margin-bottom: 0;
}

.alert-success {
  background-color: #00d68f;
  border-color: #00d68f;
}

.alert-success:hover {
  background-color: lighten(#00d68f, 10%);
  border-color: lighten(#00d68f, 10%);
  cursor: pointer;
}

.alert-success .alert-icon-container {
  color: #00d68f;
}

.alert-danger {
  background-color: #ff3d71;
  border-color: #ff3d71;
}

.alert-danger:hover {
  background-color: lighten(#ff3d71, 10%);
  border-color: lighten(#ff3d71, 10%);
  cursor: pointer;
}

.alert-danger .alert-icon-container {
  color: #ff3d71;
}

.alert-warning {
  background-color: #ffaa00;
  border-color: #ffaa00;
}

.alert-warning:hover {
  background-color: lighten(#ffaa00, 10%);
  border-color: lighten(#ffaa00, 10%);
  cursor: pointer;
}

.alert-warning .alert-icon-container {
  color: #ffaa00;
}

.alert-info {
  background-color: #0095ff;
  border-color: #0095ff;
}

.alert-info:hover {
  background-color: lighten(#0095ff, 10%);
  border-color: lighten(#0095ff, 10%);
  cursor: pointer;
}

.alert-info .alert-icon-container {
  color: #0095ff;
}



/* ===================================================================
 *  7. Scrollbar
 *
 * ------------------------------------------------------------------- */

$scrollbarColor: #B0BEC5;
$scrollbarBgColor: #f5f5f5;
$scrollbarWidth: 10px;

::-webkit-scrollbar {
  width: $scrollbarWidth;
  background-color: $scrollbarBgColor;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $scrollbarBgColor;
  @include border-radius($scrollbarWidth);
}

::-webkit-scrollbar-thumb {
  @include border-radius($scrollbarWidth);
  background-color: $scrollbarColor;

  &:hover {
    background-color: darken($scrollbarColor, 10%);
  }
}

.schedules-deck::-webkit-scrollbar,
.ng-dropdown-panel .scroll-host::-webkit-scrollbar {
  width: $scrollbarWidth - 5px;
  height: $scrollbarWidth - 5px;
  background-color: transparent;
}

.schedules-deck::-webkit-scrollbar-track,
.ng-dropdown-panel .scroll-host::-webkit-scrollbar-track {
  background-color: transparent;
  @include border-radius($scrollbarWidth);
}

.schedules-deck::-webkit-scrollbar-thumb,
.ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb {
  @include border-radius($scrollbarWidth);
  background-color: $scrollbarColor;

  &:hover {
    background-color: darken($scrollbarColor, 10%);
  }
}



/* ===================================================================
 *  8. Loading page
 *
 * ------------------------------------------------------------------- */

.loading-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
