/* ===================================================================
 *
 *   TOC:
 *    1. Basic styles
 *    2. Buttons
 *    3. Checkboxes
 *    4. Dropdowns
 *    5. Scrollbar
 *
 * =================================================================== */

@import "fonts.css";
@import "colors";
@import "animations";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";



/* ===================================================================
 *  1. Basic styles
 *
 * ------------------------------------------------------------------- */

body {
  font-family: 'poppins-regular', sans-serif;
}

h3, .h3 { font-family: 'poppins-semiBold', sans-serif; }
h5, .h5 { font-family: 'poppins-medium', sans-serif; }

.text-primary { color: $gh-blue !important; }
a { color: $gh-blue; }



/* ===================================================================
 *  2. Buttons
 *
 * ------------------------------------------------------------------- */

.btn-primary {
  background-color: $gh-blue;
  border-color: $gh-blue;

  &:hover, &:focus {
    background-color: darken($gh-blue, 10);
    border-color: darken($gh-blue, 10);
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $gh-blue;
  border-color: $gh-blue;
}

.btn-outline-primary {
  color: $gh-blue;
  &:hover, &:focus { color: $gh-blue; }
}



/* ===================================================================
 *  3. Checkboxes
 *
 * ------------------------------------------------------------------- */

.custom-control-input:checked~.custom-control-label::before {
  background-color: $gh-blue;
  border-color: $gh-blue;
}



/* ===================================================================
 *  4. Dropdowns
 *
 * ------------------------------------------------------------------- */

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #e6e8e9;
}



/* ===================================================================
 *  5. Scrollbar
 *
 * ------------------------------------------------------------------- */

$scrollbarColor: #B0BEC5;
$scrollbarBgColor: #f5f5f5;
$scrollbarWidth: 10px;

@include media-breakpoint-up(lg) {
  ::-webkit-scrollbar {
    width: $scrollbarWidth;
    background-color: $scrollbarBgColor;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $scrollbarBgColor;
    @include border-radius($scrollbarWidth);
  }

  ::-webkit-scrollbar-thumb {
    @include border-radius($scrollbarWidth);
    background-color: $scrollbarColor;

    &:hover {
      background-color: darken($scrollbarColor, 10%);
    }
  }
}
