<div class="container-fluid" tabindex="0" autofocus
     (keydown.arrowRight)="onKeyDownArrowRight()" (keydown.arrowLeft)="onKeyDownArrowLeft()">

  <div *ngIf="spinners.loadingPage" class="loading-page text-center">
    <div class="spinner-border text-primary mb-4" role="status"></div>
    <h5>Generating . . .</h5>
    <div class="progress">
      <div id="bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div *ngIf="!spinners.loadingPage" class="row no-gutter">

    <!-- Main Content -->
    <div class="main-content col-lg-9">

      <div class="content d-flex mt-5 mt-md-0">

        <div class="container">

          <img class="logo" src="assets/imgs/logo-dark.svg" alt="logo">

          <div class="row">

            <div class="col-md-10 col-lg-9 mx-auto">

              <!-- Title -->
              <h4 *ngIf="generatedSchedules.length == 1"
                  class="schedules-gen-heading mb-4">{{'schedules.heading.one' | translate}}</h4>
              <h4 *ngIf="generatedSchedules.length > 1" class="schedules-gen-heading mb-4">
                {{'schedules.heading.more.left' | translate}} {{numberWithCommas(generatedSchedules.length)}} {{'schedules.heading.more.right' | translate}}</h4>

              <!-- Show options -->
              <div *ngIf="generatedSchedules.length > 1" class="show-options d-lg-flex">
                <div class="position-relative">
                  <div *ngIf="spinners.sorting" class="loading-sort spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <span class="mr-lg-4 mb-2 mb-lg-0"><b>{{'schedules.order-by.title' | translate}}</b></span>
                </div>

                <div class="options">

                  <div class="custom-control custom-radio custom-control-inline mr-4 mb-2 mt-2 mt-lg-0">
                    <input type="radio" id="show-options-compact" name="show-options"
                           class="custom-control-input" [checked]="true" (click)="pickViewOption('compact')">
                    <label class="custom-control-label" for="show-options-compact">{{'schedules.order-by.most-compact' | translate}}</label>
                    <fa-icon class="help ml-2" [icon]="faQuestionCircle"
                             id="compact-tooltip" data-toggle="tooltip" data-placement="top"></fa-icon>
                  </div>

                  <div class="custom-control custom-radio custom-control-inline mr-4 mb-2">
                    <input type="radio" id="show-options-balanced" name="show-options"
                           class="custom-control-input" [checked]="false" (click)="pickViewOption('balanced')">
                    <label class="custom-control-label" for="show-options-balanced">{{'schedules.order-by.most-balanced' | translate}}</label>
                    <fa-icon class="help ml-2" [icon]="faQuestionCircle"
                             id="balanced-tooltip" data-toggle="tooltip" data-placement="top"></fa-icon>
                  </div>

                  <div class="custom-control custom-radio custom-control-inline mr-0 mb-2">
                    <input type="radio" id="show-options-free-days" name="show-options"
                           class="custom-control-input" [checked]="false" (click)="pickViewOption('free-days')">
                    <label class="custom-control-label" for="show-options-free-days">{{'schedules.order-by.more-free-days' | translate}}</label>
                    <fa-icon class="help ml-2" [icon]="faQuestionCircle"
                             id="free-days-tooltip" data-toggle="tooltip" data-placement="top"></fa-icon>
                  </div>

                </div>
              </div>

              <!-- Timetable -->
              <app-timetable *ngIf="generatedSchedules.length !== 0"
                 [schedules]="generatedSchedules" (scheduleSelected)="scheduleInViewID = $event"
                 [onExcludedShiftsChanged]="excludedShiftsSubject.asObservable()" (excludedShiftsChanged)="this.excludedShifts = $event"
                 [onExcludedTimeframesChanged]="excludedTimeframesSubject.asObservable()" (excludedTimeframesChanged)="this.excludedTimeframes = $event"
                 [keydownEvents]="keyDownSubject.asObservable()"
                 (eventColorsChanged)="eventColors = $event"
              ></app-timetable>

              <!-- Add btn -->
              <div class="btn-add d-flex flex-column align-items-center">
                <button class="btn btn-primary mt-4" [ngClass]="{'btn-block': mobileView}"
                        type="button" (click)="addSchedule(scheduleInViewID)">{{'schedules.addSchedule' | translate}}</button>
                <a *ngIf="mobileView" href="#selected-schedules"
                   class="d-block text-center mt-4">{{'schedules.see' | translate}} {{'schedules.selected.more' | translate}}</a>
              </div>

              <!-- Excluded shifts -->
              <div *ngIf="excludedShifts.length > 0" class="excluded-shifts mt-4">
                <p class=""><b>{{'schedules.excludedShifts' | translate}}</b></p>
                <div class="d-flex flex-wrap align-items-center">
                  <app-pill *ngFor="let shift of excludedShifts; let last = last"
                            [label]="shift" [marginRight]="!last"
                            (deleteClicked)="removeExcludedShift(shift)">
                  </app-pill>
                </div>
              </div>

              <!-- Excluded timeframes -->
              <div *ngIf="excludedTimeframes.length > 0" class="excluded-timeframes mt-4">
                <p class=""><b>{{'schedules.excludedTimeframes' | translate}}</b></p>
                <div class="d-flex flex-wrap align-items-center">
                  <app-pill *ngFor="let timeframe of excludedTimeframes; let last = last"
                            [label]="getTimeframeLabel(timeframe)" [marginRight]="!last"
                            (deleteClicked)="removeExcludedTimeframe(timeframe)">
                  </app-pill>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div> <!-- /.main-content -->

    <!-- Sidebar -->
    <div id="selected-schedules"
         class="sidebar d-lg-flex flex-column justify-content-between col-lg-3 px-4 py-4">

      <!-- Selected schedules -->
      <div class="selected-schedules-heading text-white">
        <h5 class="mb-4 mb-lg-2">{{capitalize('schedules.selected.more' | translate)}}</h5>
        <p *ngIf="schedulesPicked.length === 0" class="mt-3"><em>{{'schedules.none' | translate}} {{'schedules.selected.one' | translate}}</em></p>
      </div>

      <div class="schedules-deck">
        <div class="d-sm-flex flex-wrap justify-content-start d-lg-block mr-lg-1">
          <app-schedule-card *ngFor="let schedule of schedulesPicked; let i = index"
                             [schedule]="schedule"
                             [scheduleIndex]="i + 1"
                             (removeBtn)="removeSchedule($event)"></app-schedule-card>
        </div>
      </div>

      <!-- Save btn -->
      <button *ngIf="schedulesPicked.length > 0" class="btn btn-primary btn-block btn-lg btn-save mt-5"
              type="button" (click)="save()">{{'schedules.save' | translate}}</button>

    </div> <!-- /.sidebar -->

  </div> <!-- /.row -->

</div> <!-- /.container-fluid -->
