<div class="container-fluid">

  <div *ngIf="spinner" class="spinner-wrapper text-center">
    <div class="spinner-border text-primary mb-4" role="status"></div>
    <h5>Generating . . .</h5>
  </div>

  <div *ngIf="!spinner">
    <h3>Generated {{generatedSchedules.length}} Schedules</h3>
    <hr>
    <h3 class="container d-flex justify-content-center">#{{scheduleSelected}}</h3>
    <app-timetable *ngIf="generatedSchedules.length > 0"
                   [schedules]="generatedSchedules"
                   (scheduleSelected)="scheduleSelected = $event">
    </app-timetable>
  </div>

</div>
