<div class="container-fluid">

  <div class="row no-gutter">

    <!-- Sidebar -->
    <div class="d-flex col-md-4 sidebar">
      <img class="logo" src="assets/imgs/logo.svg" alt="">

      <div class="widgets d-flex">
        <a class="icon-wrapper github mr-2" href="" data-toggle="tooltip" data-placement="top" title="Repositório">
          <fa-icon [icon]="faGithub" class="fa-lg"></fa-icon>
        </a>
        <a class="icon-wrapper feedback" href="" data-toggle="tooltip" data-placement="top" title="Feedback">
          <fa-icon [icon]="faCommentAlt" class="fa-lg"></fa-icon>
        </a>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content col-md-8">

      <!-- About -->
      <button class="btn btn-outline-primary btn-about" data-toggle="modal" data-target="#exampleModal">Sobre</button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="content d-flex">

        <div class="container">
          <div class="row">

            <div class="col-md-10 col-lg-9 mx-auto">

              <!-- Pick subjects -->
              <h3 class="pick-subjects-heading mb-4">Escolher cadeiras</h3>

              <form class="mb-5">
                <div class="d-lg-flex align-items-center justify-content-between mb-3">

                  <!-- Academic Year -->
                  <div class="form-label-group w-100 mr-lg-3">
                    <label for="inputAcademicYear">Ano letivo</label>
                    <select class="custom-select" id="inputAcademicYear" required autofocus>
                      <option selected>Escolher ano letivo...</option>
                      <option value="1">2020/2021</option> <!-- FIXME: get academic years -->
                      <option value="2">2019/2020</option>
                      <option value="3">2018/2019</option>
                    </select>
                  </div>

                  <!-- Course -->
                  <div class="form-label-group w-100 ml-lg-3">
                    <label for="inputCourse">Curso</label>
                    <select class="custom-select" id="inputCourse" required autofocus>
                      <option selected>Escolher curso...</option>
                      <option value="1">LEIC-A</option> <!-- FIXME: get courses -->
                      <option value="2">LEIC-T</option>
                      <option value="3">MEIC-A</option>
                      <option value="3">MEIC-T</option>
                    </select>
                  </div>
                </div>

                <!-- Subject -->
                <label for="inputSubject">Cadeira</label>
                <div class="input-group w-100">
                  <select class="custom-select" id="inputSubject" [disabled]="subjects.length === 0">
                    <option disabled selected value="-1">Escolher cadeira...</option>
                    <option *ngFor="let subj of subjects; let i = index" id="subj#{{i}}" value="{{i}}">{{subj.name}}</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" [disabled]="subjects.length === 0"
                            (click)="addSubject()">Adicionar</button>
                  </div>
                </div>
                <p *ngIf="subjects.length === 0" class="text-danger"><small>Não existem mais cadeiras.</small></p>
              </form>

              <!-- Selected subjects -->
              <h3 class="pick-subjects-heading mb-4">Cadeiras selecionadas</h3>
              <p *ngIf="selectedSubjects.length === 0"><em>Nenhuma cadeira selecionada</em></p>
              <app-subjects-banner [subjects]="selectedSubjects" (removeBtn)="removeSubject($event)"></app-subjects-banner>

              <!-- Generate btn -->
              <button *ngIf="selectedSubjects.length !== 0"
                      class="btn btn-lg btn-primary btn-block btn-generate mt-5">Gerar Horários</button>

            </div>
          </div>

        </div>
      </div>

    </div> <!-- /.main-content -->

  </div> <!-- /.row -->

</div> <!-- /.container-fluid -->
