<div class="container-fluid">

  <div class="row no-gutter">

    <!-- Sidebar -->
    <div class="sidebar d-flex col-md-4 justify-content-center px-4">
      <img class="logo" src="assets/imgs/logo.svg" alt="logo">

      <div class="sidebar-text text-white d-flex flex-column align-items-center">
        <h4 class="text-center px-4">Gera todos os horários possíveis e escolhe o melhor</h4>

        <!-- Features Horizontal -->
        <div *ngIf="featuresHorizontal" class="features features-horizontal d-flex justify-content-center mt-4">
          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mr-3 mb-3 shadow">
            <fa-icon [icon]="faSmileBeam" class="fa-lg mb-2"></fa-icon>
            <span>Fácil<br>de usar</span>
          </div>

          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mr-3 mb-3 shadow">
            <fa-icon [icon]="faTh" class="fa-lg mb-2"></fa-icon>
            <span>Horários compactos</span>
          </div>

          <div class="item d-flex flex-column align-items-center text-dark text-center p-3 mb-3 shadow">
            <fa-icon [icon]="faThumbtack" class="fa-lg mb-2"></fa-icon>
            <span>Slots de aulas fixas</span>
          </div>
        </div>

        <!-- Features Vertical -->
        <div *ngIf="!featuresHorizontal" class="features features-vertical mt-4 px-3 w-100">
          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faSmileBeam" class="fa-lg mr-3"></fa-icon>
            <span>Fácil de usar</span>
          </div>

          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faTh" class="fa-lg mr-3"></fa-icon>
            <span>Horários compactos</span>
          </div>

          <div class="item text-dark p-3 mb-3 shadow">
            <fa-icon [icon]="faThumbtack" class="fa-lg mr-3"></fa-icon>
            <span>Slots de aulas fixas</span>
          </div>
        </div>
      </div>

      <!-- Scrolldown -->
      <a *ngIf="showScrollDown()" class="scrolldown bounce d-flex flex-column align-items-center">
        <fa-icon [icon]="faChevronDown" class=""></fa-icon>
      </a>

      <!-- Widgets -->
      <div class="widgets d-flex">
        <a class="icon-wrapper github mr-2"
           href="https://github.com/joanasesinando/gerador-horarios-ist"
           data-toggle="tooltip" data-placement="top" title="Repositório">
          <fa-icon [icon]="faGithub" class="fa-md"></fa-icon>
        </a>

        <a class="icon-wrapper feedback mr-2"
           href=""
           data-toggle="tooltip" data-placement="top" title="Feedback">
          <fa-icon [icon]="faCommentAlt" class="fa-md"></fa-icon>
        </a>

        <a class="icon-wrapper help"
           href=""
           data-toggle="tooltip" data-placement="top" title="Ajuda">
          <fa-icon [icon]="faQuestion" class="fa-md"></fa-icon>
        </a>
      </div>
    </div>

    <!-- About (only mobile) -->
    <button *ngIf="mobileView" class="btn btn-outline-primary btn-about"
            data-toggle="modal" data-target="#aboutModal">Sobre</button>

    <!-- Main Content -->
    <div class="main-content col-md-8">

      <!-- About -->
      <a *ngIf="!mobileView" class="btn btn-outline-primary btn-about"
              data-toggle="modal" data-target="#aboutModal">Sobre</a>

      <div class="content d-flex">

        <div class="container">
          <div class="row">

            <div class="col-md-10 col-lg-9 mx-auto">

              <!-- Pick courses -->
              <h3 class="pick-courses-heading mb-4">Escolher cadeiras</h3>

              <form id="generateForm" class="mb-5" [formGroup]="generateForm">
                <div class="d-lg-flex align-items-center justify-content-between mb-3">

                  <!-- Academic Term -->
                  <div class="position-relative w-100 mr-lg-3 mb-4 mb-lg-2">
                    <div class="form-label-group">
                      <label for="inputAcademicTerm">Ano letivo</label>
                      <select class="custom-select" id="inputAcademicTerm" autofocus formControlName="academicTerm"
                              (change)="loadDegrees($event.target.value)">
                        <option disabled selected value="null">Escolher ano letivo...</option>
                        <option *ngFor="let term of academicTerms" value="{{term}}">{{term}}</option>
                      </select>
                    </div>
                    <div *ngIf="academicTermsSpinner" class="spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                  <!-- Degree -->
                  <div class="position-relative w-100 ml-lg-3 mb-4 mb-lg-2">
                    <div class="form-label-group">
                      <label for="inputDegree">Curso</label>
                      <select class="custom-select" id="inputDegree" formControlName="degree"
                              (change)="loadCourses(academicTermFormControl.value, $event.target.value)">
                        <option disabled selected value="null">Escolher curso...</option>
                        <option *ngFor="let degree of degrees" value="{{degree.id}}">{{degree.acronym}} - {{degree.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="degreesSpinner" class="spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>

                <!-- Course -->
                <div class="position-relative">
                  <label for="inputCourse">Cadeira</label>
                  <div class="input-group w-100">
                    <select class="custom-select" id="inputCourse" formControlName="course">
                      <option disabled selected value="null">Escolher cadeira...</option>
                      <option *ngFor="let course of courses; let i = index" id="course#{{i}}" value="{{i}}">[{{course.acronym}}] {{course.name}}</option>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button"
                              [disabled]="hasAcademicTermSelected() && hasDegreeSelected() && courses.length === 0 && !coursesSpinner"
                              (click)="addCourse()">Adicionar</button>
                    </div>
                  </div>
                  <div *ngIf="coursesSpinner" class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p *ngIf="hasAcademicTermSelected() && hasDegreeSelected() && courses.length === 0 && !coursesSpinner"
                     class="text-danger"><small>Não existem mais cadeiras</small></p>
                </div>
              </form>

              <!-- Selected courses -->
              <h3 class="pick-courses-heading mb-4">Cadeiras selecionadas</h3>
              <p *ngIf="selectedCourses.length === 0"><em>Nenhuma cadeira selecionada</em></p>
              <app-course-banner [courses]="selectedCourses" (removeBtn)="removeCourse($event)"></app-course-banner>

              <!-- Generate btn -->
              <button *ngIf="selectedCourses.length !== 0"
                      class="btn btn-lg btn-primary btn-block btn-generate mt-5"
                      type="submit" form="generateForm" (click)="generateSchedules()">Gerar Horários</button>

            </div>
          </div>

        </div>
      </div>

    </div> <!-- /.main-content -->

  </div> <!-- /.row -->

</div> <!-- /.container-fluid -->

<app-about-modal></app-about-modal>
