<div class="card mt-3">
  <div class="card-body pr-5">

    <!-- Course Name & Credits -->
    <h5 class="card-title course-name mt-2">[{{course.formatAcronym()}}] {{course.name}}
      <span class="card-credits text-muted"><span class="mx-2">|</span> ECTS: {{this.course.credits}}</span></h5>

    <!-- Campus -->
    <div *ngIf="course.campus" class="d-flex flex-wrap">
      <div *ngFor="let campus of course.campus; let i = index; let first = first; let last = last"
           class="custom-control custom-radio mb-2" [ngClass]="{'mr-3': !last}">
        <input class="custom-control-input"
               type="radio"
               name="radioCampus-{{formatName(course.acronym)}}"
               id="radioCampus-{{formatName(course.acronym)}}-{{i}}"
               [checked]="course.campus.length > 1 &&
                          hasDefaultCampus(course.degree) ? setCampusBasedOnDefault(course.degree, campus): first"
               (change)="campusPicked(course)">
        <label class="custom-control-label" for="radioCampus-{{formatName(course.acronym)}}-{{i}}">{{campus}}</label>
      </div>
    </div>

    <!-- Types of classes -->
    <div *ngIf="course.types" class="d-flex flex-wrap">
      <div *ngFor="let type of course.types; let i = index; let last = last"
           class="custom-control custom-checkbox mb-2" [ngClass]="{'mr-3': !last}">
        <input type="checkbox" [checked]="true" name="checkTypeClass-{{formatName(course.acronym)}}" class="custom-control-input"
               id="checkTypeClass-{{formatName(course.acronym)}}-{{i}}" (change)="typesOfClassesPicked(course)">
        <label class="custom-control-label" for="checkTypeClass-{{formatName(course.acronym)}}-{{i}}">{{type}}</label>
      </div>
    </div>

    <!-- Remove btn -->
    <button class="btn btn-danger btn-remove" (click)="removeBtnClicked()">
      <fa-icon [icon]="faTimes" class="fa-md"></fa-icon>
    </button>
  </div>

</div>
