.btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.card-credits {
  font-family: 'poppins-regular', sans-serif;
  font-size: 65%;
}

.individual-option {
  margin-left: 1.75rem;
  margin-top: 0.35rem;
  font-size: 0.95em;
}
