<div class="card mt-3">
  <div class="card-body pr-5">

    <!-- Course Name -->
    <h5 class="card-title course-name mt-2">[{{course.acronym}}] {{course.name}}</h5>

    <!-- Campus -->
    <div *ngIf="course.campus && course.campus.length >= 2" class="d-flex flex-wrap">
      <div *ngFor="let campus of course.campus; let i = index; let first = first; let last = last"
           class="custom-control custom-radio mb-2" [ngClass]="{'mr-3': !last}">
        <input type="radio" [checked]="first" class="custom-control-input"
               name="radioCampus-{{formatName(course.name)}}"
               id="radioCampus-{{formatName(course.name)}}-{{i}}" (change)="campusPicked(course)">
        <label class="custom-control-label" for="radioCampus-{{formatName(course.name)}}-{{i}}">{{campus}}</label>
      </div>
    </div>

    <!-- Types of classes -->
    <div *ngIf="course.types" class="d-flex flex-wrap">
      <div *ngFor="let type of course.types; let i = index; let last = last"
           class="custom-control custom-checkbox mb-2" [ngClass]="{'mr-3': !last}">
        <input type="checkbox" [checked]="true" name="checkTypeClass-{{formatName(course.name)}}" class="custom-control-input"
               id="checkTypeClass-{{formatName(course.name)}}-{{i}}" (change)="typesOfClassesPicked(course)">
        <label class="custom-control-label" for="checkTypeClass-{{formatName(course.name)}}-{{i}}">{{type}}</label>
      </div>
    </div>

    <!-- Remove btn -->
    <button class="btn btn-danger btn-remove" (click)="removeBtnClicked()">
      <fa-icon [icon]="faTimes" class="fa-md"></fa-icon>
    </button>
  </div>

</div>
